<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>{{'Forgot Password'|translate}}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content class="page-forgot-password" padding>
  <ion-row class="grid-t">
    <ion-col>
      <div class="logo">
        <img class="image" src="assets/icons_stripe.svg"/>
      </div>
    </ion-col>
  </ion-row>

  <form #loginForm="ngForm" class="form" (ngSubmit)="forgetPassword()" *ngIf="!passwordSent; else passwordSuccess">
    <ion-row class="grid-b">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input type="email" email placeholder="{{'Email'|translate}}" name="customers_email_address" [(ngModel)]="formData.customers_email_address"
              required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
          <label *ngIf="state.firebaseError">
            <span>{{state.firebaseErrorMessage}}</span>
          </label>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block color="secondary" type="submit" [disabled]="!loginForm.form.valid">{{'Send'|translate}}</button>
      </ion-col>
    </ion-row>
  </form>

  <ng-template #passwordSuccess>
    <ion-card>
      <ion-card-content>
        <p>Password sent successfully to {{formData.customers_email_address}}</p>
        <button ion-button="" (click)="dismiss()">ok</button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
