<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'Menu' | translate }}</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="openLanguagePage()">
          <ion-icon name="globe"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="side-menu">

    <ion-list class="list-avatar">
      <ion-item *ngIf="!state.currentUser" (click)="openLoginPage()">
        <ion-avatar item-start>
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h2>{{ 'Login & Register' | translate }}</h2>
        <p>{{ 'Please login or create an account for free' | translate }}</p>
      </ion-item>

      <ion-item *ngIf="state.currentUser" menuClose (click)="openPage('settings')">
        <ion-avatar item-start>
          <img [src]="state.currentUser.photoURL" [alt]="'User profile picture'" onerror="this.src='assets/avatar.png'">
        </ion-avatar>
        <h2>{{state.currentUser.displayName}}</h2>
        <p>{{state.currentUser.email}}</p>
        <button ion-button item-end color="secondary" (click)="logOut()">
            {{'Log Out' | translate }}
        </button>
      </ion-item>
      <!--<ion-item *ngIf="shared.customerData.customers_id==null" (click)="openLoginPage()">-->
        <!--<ion-avatar item-start>-->
          <!--<ion-icon name="contact"></ion-icon>-->
        <!--</ion-avatar>-->
        <!--<h2>{{ 'Login & Register' | translate }}</h2>-->
        <!--<p>{{ 'Please login or create an account for free' | translate }}</p>-->
      <!--</ion-item>-->

      <!--<ion-item *ngIf="shared.customerData.customers_id!=null" menuClose (click)="openPage('settings')">-->
        <!--<ion-avatar item-start>-->
          <!--<img src="{{config.url+shared.customerData.customers_picture}}">-->
        <!--</ion-avatar>-->
        <!--<h2>{{shared.customerData.customers_firstname +"&nbsp;"+shared.customerData.customers_lastname}}</h2>-->
        <!--<p>{{shared.customerData.customers_email_address}}</p>-->
        <!--&lt;!&ndash; <button ion-button item-end color="secondary" (click)="logOut()">-->
            <!--{{'Log Out' | translate }}-->
          <!--</button> &ndash;&gt;-->
      <!--</ion-item>-->
    </ion-list>


    <ion-list class="list-menu">

      <button menuClose ion-item (click)="openPage('home')">{{ 'Home' | translate }}
        <ion-icon item-left name="home"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('categories')">{{ 'Categories' | translate }}
        <ion-icon item-left name="apps"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('newest')">{{ 'Shop' | translate }}
        <ion-icon item-left name="cash"></ion-icon>
      </button>
      <!-- list of pages -->
      <!-- <button ion-item (click)="showHideHomeList()">{{ 'Home' | translate }}
        <ion-icon item-left name="home"></ion-icon>
        <ion-icon item-right [name]="homeListIcon"></ion-icon>
      </button>
      <div *ngIf="homeList" [@animate]>
        <button menuClose ion-item (click)="openPage('home1')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Home' | translate }}-1</button>
        <button menuClose ion-item (click)="openPage('home2')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Home' | translate }}-2</button>
        <button menuClose ion-item (click)="openPage('home3')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Home' | translate }}-3</button>
        <button menuClose ion-item (click)="openPage('home4')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Home' | translate }}-4</button>
        <button menuClose ion-item (click)="openPage('home5')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Home' | translate }}-5</button>
      </div>
      <button ion-item (click)="showHideCategoriesList()">{{ 'Categories' | translate }}
        <ion-icon item-left name="apps"></ion-icon>
        <ion-icon item-right [name]="categoriesListIcon"></ion-icon>
      </button>
      <div *ngIf="categoriesList" [@animate]>
        <button menuClose ion-item (click)="openPage('categories1')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-1</button>
        <button menuClose ion-item (click)="openPage('categories2')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-2</button>
        <button menuClose ion-item (click)="openPage('categories3')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-3</button>
        <button menuClose ion-item (click)="openPage('categories4')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-4</button>
        <button menuClose ion-item (click)="openPage('categories5')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-5</button>
        <button menuClose ion-item (click)="openPage('categories6')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Categories' | translate }}-6</button>
      </div>
      <button ion-item (click)="showHideShopList()">{{ 'Shop' | translate }}
        <ion-icon item-left name="cash"></ion-icon>
        <ion-icon item-right [name]="shopListIcon"></ion-icon>
      </button>
      <div *ngIf="shopList" [@animate]>
        <button menuClose ion-item (click)="openPage('newest')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Newest' | translate }}</button>
        <button menuClose ion-item (click)="openPage('topSeller')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Top Seller' | translate }}</button>
        <button menuClose ion-item (click)="openPage('deals')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Deals' | translate }}</button>
        <button menuClose ion-item (click)="openPage('mostLiked')">
          <ion-icon small item-left name="remove"></ion-icon> {{ 'Most Liked' | translate }}</button>
      </div>
         -->
      <!-- list of pages end -->
      <button menuClose ion-item *ngIf="shared.customerData.customers_id!=null && config.wishListPage==1" (click)="openPage('myWishList')">{{ 'My Wish List' | translate }}
        <ion-icon item-left name="heart"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="shared.customerData.customers_id!=null && config.editProfilePage==1" (click)="openPage('myAccount')">{{ 'Edit Profile' | translate }}
        <ion-icon item-left name="lock"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="shared.customerData.customers_id!=null && config.shippingAddressPage==1" (click)="openPage('myShippingAddresses')">{{ 'Shipping Address' | translate }}
        <ion-icon item-left name="bus"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="shared.customerData.customers_id!=null && config.myOrdersPage==1" (click)="openPage('myOrders')">{{ 'My Orders' | translate }}
        <ion-icon item-left name="cart"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.contactUsPage==1" (click)="openPage('contactUs')">{{ 'Contact Us' | translate }}
        <ion-icon item-left name="call"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.aboutUsPage==1" (click)="openPage('aboutUs')">{{ 'About Us' | translate }}
        <ion-icon item-left name="information-circle"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.newsPage==1" (click)="openPage('news')">{{ 'News' | translate }}
        <ion-icon item-left name="paper"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.introPage==1" (click)="openPage('intro')">{{ 'Intro' | translate }}
        <ion-icon item-left name="ionic"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.shareApp==1" (click)="share()">{{ 'Share' | translate }}
        <ion-icon item-left name="share"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.rateApp==1" (click)="rateUs()">{{ 'Rate Us' | translate }}
        <ion-icon item-left name="star-half"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.settingPage==1" (click)="openPage('settings')">{{ 'Settings' | translate }}
        <ion-icon item-left name="settings"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
