page-intro {
    .page-intro{
        background-image:url("../assets/intro/intro_top_bg.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size:auto 55%;
        background-color:#fff;

        .page-intro-image{
            margin-top: 20%;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .slides {
            height: 98%;
            .swiper-slide{
                .icon{
                    font-size: 40px;
                    color:color($colors, primary);
                }
                .slide-title{
                    margin-bottom: 0;
                }
                p{
                    font-size: 14px;
                }
                .button{
                    margin-bottom: 20px;
                }
            }
            .swiper-pagination{
                bottom:0;
            }
        }
    }
}
